<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <style>
      a:link {
        color: #497DDD; 
        border-bottom: 1px dashed; 
      }
      a:visited {
        color: #EF7D55;
      }
      a:hover {
        color: #154088; 
        border-bottom: .07em solid;
      }
      a:active {
        color: #497DDD; 
        border-bottom: 1px dashed;
      }
    </style>
	<title>Index</title>
</head>
<body>
	<h1>Index page</h1>
	<h3><a href="first">First</a></h3>
	<h3><a href="second">Second</a></h3>	
</body>
</html>
